package usecase

import (
	"context"
	"{{.Module}}/internal/model/dto"
	"{{.Module}}/internal/model/rc"
)

type (
	{{.Feature.Pascal}}Usecase interface {
		{{.Action.Pascal}}(ctx context.Context, req *dto.{{.Type}}Request) (*dto.{{.Type}}Response, error)
	}

	{{.Feature.Camel}}Usecase struct {
	}
)

func new{{.Feature.Pascal}}Usecase() {{.Feature.Pascal}}Usecase {
	return &{{.Feature.Camel}}Usecase{}
}

func (u *{{.Feature.Camel}}Usecase) {{.Action.Pascal}}(
	ctx context.Context,
	req *dto.{{.Type}}Request,
) (*dto.{{.Type}}Response, error) {
	// TODO: implement {{.GroupPath}}{{.ActionPath}}.
	mapped := rc.Successful(rc.{{.ServiceConst}})

	return &dto.{{.Type}}Response{
		BaseResponse: dto.BaseResponse{
			ResponseCode:    mapped.ResponseCode,
			ResponseMessage: mapped.ResponseMessage,
		},
	}, nil
}
