package router

import (
	"{{.Module}}/internal/controller"

	"github.com/gofiber/fiber/v2"
	"repo-iconx.air.id/icon-digital-library/common/sbrest"
)

func new{{.Feature.Pascal}}Router(
	app *fiber.App,
	controller controller.{{.Feature.Pascal}}Controller,
) sbrest.Route {
	return &{{.Feature.Pascal}}Router{
		router:     app.Group("{{.GroupPath}}"),
		controller: controller,
	}
}

type {{.Feature.Pascal}}Router struct {
	router     fiber.Router
	controller controller.{{.Feature.Pascal}}Controller
}

func (r *{{.Feature.Pascal}}Router) Public() {
{{- if .Public}}
	r.router.{{.Method}}("{{.ActionPath}}", r.controller.{{.Action.Pascal}})
{{- end}}
}

func (r *{{.Feature.Pascal}}Router) Authenticated() {
{{- if not .Public}}
	r.router.{{.Method}}("{{.ActionPath}}", r.controller.{{.Action.Pascal}})
{{- end}}
}
